/*input css*/
input{
    width: 450px;
    height: 45px;
    margin-bottom: 20px;
    border-radius: 3% 3%;
    border: 2px solid black;
}

/*버튼 큰 버전*/
.inBtn , .changeBtn{
    width: 100px;
    height: 47px;
    border-radius: 10% 10% ;
    border: none;
    background-color: #0571d3;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
}

/*버튼 작은 버전*/
.btn{
    height: 40px;
    width: 70px;
    border-radius: 10% 10%;
    border: none;
    background-color: #0571d3;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}