body{
    width: 1910px;
    box-sizing: border-box;
    background-color: #eeeeee;
}
#content{

    width: 100%;
    height: 911px;
    margin: 0 auto;
    font-family: 'NanumSquare';
    display: flex;
}

#menu{
    width: 12%;
    height: 100%;
    margin-top: 0px;
    text-align: start;
    background-color: #00306e;
}
#menu > ul{
    width: 100%;
}

ul > #title{
    font-weight: bold;
    font-size: 25px;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
li{
    border-bottom: 1px solid white;
    padding : 15px;
    font-size: 20px;
    list-style: none;
    font-weight: bold;
}
#menu > ul > li > a:hover{ color: #36b2fc;}
td{
    width: 100px;
}
#content{

    width: 100%;
    /* margin:  0 auto; */
    /*
    margin-left: 300px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
*/
    }

#main{
    margin:  0 auto;
    margin-top: 30px;
    width: 1000px;
}
input{
    width: 450px;
    height: 45px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 3% 3%;
    border: 1px solid black;
    border: 1px solid black;
}
#change{
    margin-top: 10px;
}
.inBtn , .changeBtn{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #00306e;
    background-color: #00306e;
    color: white;
    font-weight: bold;
    margin-bottom: 7px;
    box-shadow: 3px 3px 5px #8d8d8d;
    margin-bottom: 7px;
    box-shadow: 3px 3px 5px #8d8d8d;
}

table{
    margin-top: 0px;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    width: 100%;
    border-collapse: collapse;

    
   

    
   
}
thead{
    background-color: #00306e; 
    color : white;
    background-color: #00306e; 
    color : white;
}


th, td{
    height: 65px;
    height: 65px;
}

.btn{
    height: 40px;
    width: 70px;
    border-radius: 10px;
    border-radius: 10px;
    border: none;
    background-color: #00306e;
    background-color: #00306e;
    color: white;
    font-weight: bold;

    box-shadow: 3px 3px 5px #8d8d8d;

    box-shadow: 3px 3px 5px #8d8d8d;
}

#output{
    width: 1017px;
    height: 290px;
    max-height: 570px;
    overflow-x:hidden;
    overflow-y: scroll;
    box-shadow: 3px 3px 5px #8d8d8d;
}
#point{
    width: 8000px;
    margin-top: 35px;

}
h3{
    margin-bottom: 15px;
}